<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <system.serviceModel>
        <bindings>
              <basicHttpBinding>
                    <binding name="WebcreteAPISoap" maxReceivedMessageSize="512000000" />
              </basicHttpBinding>
        </bindings>
        <client>
              <endpoint address="http://api1.concretego.com/webcreteapi.asmx"
                    binding="basicHttpBinding" bindingConfiguration="WebcreteAPISoap"
                    contract="WebcreteAPI.WebcreteAPISoap" name="WebcreteAPISoap" />
        </client>
    </system.serviceModel>
</configuration>
