<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <system.serviceModel>
        <bindings>
              <basicHttpBinding>
                    <binding name="WebcreteAPISoap" maxBufferSize="512000000" maxReceivedMessageSize="512000000" />
                    <binding name="WebcreteAPISoap1">
                          <security mode="Transport" />
                    </binding>
                    <binding name="WebcreteAPISoap2" />
              </basicHttpBinding>
        </bindings>
        <client>
              <endpoint address="http://api.concretego.com/webcreteapi.asmx"
                    binding="basicHttpBinding" bindingConfiguration="WebcreteAPISoap"
                    contract="WebcreteAPI.WebcreteAPISoap" name="WebcreteAPISoap" />
              <endpoint address="https://api4.concretego.com/WebcreteApi.asmx"
                    binding="basicHttpBinding" bindingConfiguration="WebcreteAPISoap1"
                    contract="WebcreteAPI2.WebcreteAPISoap" name="WebcreteAPISoap1" />
        </client>
    </system.serviceModel>
</configuration>
